# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env

# Logs
*.log

# Bytecode compiled files
*.py[cod]

# Distribution / build
build/
dist/
*.egg-info/
